POSTGRES_DB=postgres_db
POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=postgres_password
POSTGRES_PORT=postgres_port

SQLALCHEMY_DATABASE_URL=postgresql+psycopg2://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:${POSTGRES_PORT}/${POSTGRES_DB}

SECRET_KEY=secret_key
ALGORITHM=algorithm

MAIL_USERNAME=mail_username
MAIL_PASSWORD=mail_password
MAIL_FROM=mail_from
MAIL_PORT=mail_port
MAIL_SERVER=mail_server

REDIS_HOST=redis_host
REDIS_PORT=redis

CLOUDINARY_NAME=cloudinary_name
CLOUDINARY_API_KEY=cloudinary_api_key
CLOUDINARY_API_SECRET=cloudinary_api_secret